# Dependencies
**/node_modules/
node_modules/

# Next.js
**/.next/
.next/
out/

# Build
**/build/
**/dist/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local